
<ion-content padding>
		
	<ion-card no-margin>
		<ion-card-header text-center no-padding padding-vertical>
			<h2 ion-text text-uppercase color="white" class="card-title font-semi-bold" *ngIf="mission">{{mission.name}}</h2>
			<p ion-text text-uppercase color="white" class="card-subtitle font-light" *ngIf="shelter">{{shelter.name}}</p>
			
			
			<ion-grid >
				<ion-row justify-content-center>
					
					<ion-col col-3 class="mission-icons" padding-horizontal></ion-col>
					
					<ion-col col-6 class="shelter" (click)="openShelter(shelter.shelter_id)">
						<img class="logo-shelter" src="assets/imgs/mission/logo_shelter.png"/>
						<p ion-text text-center text-uppercase color="secondary" class="font-bold">View page</p>
					</ion-col>
					
					<ion-col col-3 class="mission-icons" padding-horizontal></ion-col>
				</ion-row>
			</ion-grid>
		
		</ion-card-header>
		
		<ion-card-content *ngFor="let mission_load of missions">
			
			<ion-grid >
				<ion-row>
					<ion-col col-3 class="mission-icons" padding-horizontal>
						<img class="icon-mission" src="assets/imgs/icons/icon_coin.png"/>
						<p ion-text text-wrap text-center text-uppercase color="gray" class="font-semi-bold">{{mission_load.mission.total_cost}} XP</p>
					</ion-col>
					
					<ion-col col-6>
						<p text-justify>{{mission_load.mission.description}}</p>
					</ion-col>

					<ion-col col-3 class="mission-icons" padding-horizontal>
						<img class="icon-mission" src="assets/imgs/icons/icon_clock.png"/>
						<p ion-text text-wrap text-center text-uppercase color="gray" class="font-semi-bold">Expire in {{mission_load.mission.expires}} days</p>
					</ion-col>
				</ion-row>
				
				<ion-row justify-content-center padding-top>
					<button ion-button small block col-5 color="secondary" text-uppercase (click)="openMission(mission_load.mission.id)">Details</button>
				</ion-row>
			</ion-grid>
		
		</ion-card-content>

	</ion-card>
		
		
</ion-content>
