<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img alt="logo" src="assets/imgs/map/logo_header.png">
		</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>
	<div #map id="mapElement"></div>
	
	<div id="missions-modal" class="missions-container-wrapper" >
		
		<div class="missions-container"></div>
		
	</div>
</ion-content>
